body {
    background: linear-gradient(to right, blue, black;
}
header {
    background-color: black;
    opacity: 1;
    top: 5px;
    height: 30px;
}
nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
h1 {
    color: blue;
}
